<div class="background">
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <div class="center">
    <nav data-controller="home">
      <%= image_tag("perfil/perfil-photo.jpeg", :class => "mx-auto w-44 h-44 rounded-full object-cover object-top fade-in")%>
      <h1 class="text-center mt-2 text-xl font-bold fade-in">@suzannafreitas</h1>
    </nav>

    <section class="grid grid-cols-1 text-center fade-in one px-4" data-controller="hello">
        <a href="mailto:jobs@contatosufreitas.com" class="shadow-md py-3 rounded-full mt-5 border-2 border-white font-bold">JOBS - Brasil</a>
        <a href="mailto:suzannafreitas@all-in-fluencers.com" class="shadow-md py-3 rounded-full mt-3 border-2 border-white font-bold">JOBS - Portugal</a>
        <a href="https://www.tiktok.com/@suzannafreitasoficial?_t=8gDMmAxCwbO&_r=1" target="_blank" class="shadow-md py-3 rounded-full mt-3 border-2 border-white font-bold">TikTok</a>
        <a href="https://instagram.com/dailysuzannafreitas?igshid=MzRlODBiNWFlZA==" target="_blank" class="shadow-md py-3 rounded-full mt-3 border-2 border-white font-bold">Insta daily</a>
        <%# <a href="https://youtube.com/@SuzannaFreitasof?si=GCL_CxsL3q6RfoQm" target="_blank" class="shadow-md py-3 rounded-full mt-3 border-2 border-white font-bold">YouTube</a> %>
        <%# <a href="https://l.instagram.com/?u=https%3A%2F%2Fbit.ly%2Fkellykeyeomestretuca%3Ffbclid%3DPAAabC6qu_5YiNZjisEXFj_PssSs8yAeI7zR2Ori4uJHf4RMIT8dAD4BX7LkQ_aem_AQBUwVUE6BkDeKxYaEMN1zx169KKUbw9PRodcxsEaIQ_RiHkFbaeD0UXv9Rj30rVe_I&e=AT2dZfShIm7LDvVHKNhQrq6Rdlxh2dGNE4YMhP2X9TijKZTSP7vO8ZEcB0WocmuS7kxqHQzZKfq47mdJXfG-kt42uxhDLD7n8T-QNQ" target="_blank" class="shadow-md py-3 rounded-full mt-3 border-2 border-white font-bold">KELLY KEY E O MESTRE TUCA</a> %>
        <%# <a href="https://cidadaniaja.com.br/assessoria-de-cidadania-portuguesa/?utm_source=instagram&utm_medium=social+&utm_campaign=suzanna-freitas" target="_blank" class="shadow-md py-3 rounded-full mt-3 border-2 border-white font-bold">Link CidadaniaJÁ</a> %>
    </section>

    <footer>
      <div class="text-center flex justify-center gap-x-6  mt-5 fade-in one">
        <a href="#"><i class="fa-brands fa-tiktok"></i> </a>
        <a href="#"><i class="fa-brands fa-youtube"></i></a>
        <a href="#"><i class="fa-solid fa-envelope"></i></a>
      </div>
    </footer>
  </div>
</div>
